<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Anda.Fluid.Domain.Dialogs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.9.12.0" newVersion="6.9.12.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Anda.Fluid.Domain.Dialogs.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="needleP1X" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="needleP1Y" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="needleP2X" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="needleP2Y" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="needleP3X" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="needleP3Y" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="needleP4X" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="needleP4Y" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="mapStartX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="mapStartY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="mapHEndX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="mapHEndY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="mapVEndX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="mapVEndY" serializeAs="String">
        <value>0</value>
      </setting>
    </Anda.Fluid.Domain.Dialogs.Properties.Settings>
  </userSettings>
</configuration>
